@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('./Fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('./Fonts/ClashDisplay-Variable.woff') format('woff'),
        url('./Fonts/ClashDisplay-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
} 
body {
    background-color: black !important;
}
.main-logo {
    max-width: 390px;
    min-width: 100px;
    width: 50vw;
}
.onboarding {
    background-image: url('/bg.png');
    background-color: black;
    padding: 0; 
}
.onboarding-wrapper {
   margin: auto;
   max-width: 750px;
   width: 100%;
   height: fit-content;
   background: rgba(0, 2, 9, 0.8);
   border-radius: 5px;
   padding: 50px;
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='35%2c 135%2c 5' stroke-dashoffset='81' stroke-linecap='square'/%3e%3c/svg%3e");}
.minor-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: white;
    padding: 10px;
}
.major-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 31px;
    line-height: 20px;
    text-align: center;
    color: white;
}
.divider {
    margin: 50px 0px 40px 0px;
    border-top: 1px solid rgba(255,255,255,.4);
    height: 1px;
    background: transparent;
    width: 80%;
}
.clickable-text {
    color: #416BFF;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    margin: 60px 20px 0px 20px;
}
.info-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: white;
    margin: 0px 20px 0px 20px;
}
.invitation-link {
    margin-bottom: -40px;
    font-size: 19px;
    color: white;
    margin-top: 60px;
    overflow-wrap: break-word;
}
.board-grid {
	min-height: 865px;
}

/* Mobile styles */
@media screen and (max-width: 769px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .major-text {
        font-size: 22px;
        line-height: 25px;
    }
    .onboarding-wrapper {
        padding: 35px;
        margin-top: 20px;
    }
    .clickable-text {
        margin-top: 20px;
        font-size: 17px;
    }
    .minor-text {
        font-size: 15px;
    }
    .info-text {
        font-size: 14px !important;
    }
    .board-grid {
        min-height: 100vh;
    }
    .chat-message {
        font-size: 14px;
        text-align: center;
    }
    .b-tabs .tab-content {
        padding: 0.7rem !important;
    }
    .logs-tabs {
        padding: 0px !important;
    }
    #chat-logs {
        height: 100px;
    }
    .col-piece.rotate {
        position: absolute;
        opacity: 1 !important;
        left: calc(13px * var(--factor)) !important;
        bottom: calc(26px * var(--factor)) !important;
        height: calc(70px * var(--factor)) !important;
    }
    .row:nth-child(even) {
        transform:translateX(calc((var(--parcel-width) / 2) * var(--factor) + ((0.7px * var(--scale)) / var(--factor)) )) !important;
        margin-top: calc((var(--parcel-pyramid-height) * var(--factor) * -1) - ((2.9px * var(--scale)) / var(--factor))  ) !important;
        margin-bottom: calc((var(--parcel-pyramid-height) * var(--factor) * -1) - ((3.1px * var(--scale)) / var(--factor))  ) !important;
    }
}