@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('./Fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('./Fonts/ClashDisplay-Variable.woff') format('woff'),
        url('./Fonts/ClashDisplay-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
}

body {
    background-color: black !important;
}
.main-logo {
    margin-top: 30px;
    width: 390px;
    margin-bottom: 50px;
}
.onboarding {
    background-image: url('/bg.png');
    background-color: black;
    height: 100vh;
    padding: 0;
    padding-top: 3vh;
}
.onboarding-wrapper {
   margin: auto;
   width: 750px;
   height: fit-content;
   background: rgba(0,0,0,.7);
   border: 1px solid rgba(255,255,255,0.2);
   border-radius: 5px;
   padding: 50px;
}
.minor-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: white;
    padding: 10px;
}
.major-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 31px;
    line-height: 20px;
    text-align: center;
    color: white;
}
.divider {
    margin: 50px 0px 40px 0px;
    border-top: 1px solid rgba(255,255,255,.4);
    height: 1px;
    background: transparent;
    width: 80%;
}
.clickable-text {
    color: #416BFF;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    margin: 60px 20px 0px 20px;
}
.info-text {
    color: #5B5B5B;
    font-size: 17px;
    font-weight: 400;
    margin: 0px 20px 0px 20px;
}